.expandable-listview_outerDiv {
  box-shadow: 4px 4px 10px -4px rgba(0,0,0,0.44);
}

.expandable-listview_ul {
  margin: 0px;
  list-style-type: none;
  padding: 0;
}

/*.expandable-listview_fixedPosition {
  position : fixed;
  width : 383px;
  top: 0px;
}*/

.expandable-listview_listHeader {
  height: 20px;
  background: #b778ef;
  color: white;
}

.expandable-listview_listItems {
}
