all:
    hosts:
    children:
{% for group, hosts in groups.iteritems() %}
        {{ group }}:
            hosts:
{% for host in hosts %}
                {{  hostvars[host].ansible_hostname }}:
                    hostname: {{ hostvars[host].ansible_hostname }}
                    ansible_host: {{ hostvars[host].ansible_hostname }}
                    ansible_ssh_host: {{ hostvars[host].ansible_ssh_host }}
                    ansible_ssh_user: {{ hostvars[host].ansible_ssh_user }}
                    ansible_ssh_private_key_file: {{ hostvars[host].ansible_ssh_private_key_file }}
                    ansible_ssh_common_args: {{ hostvars[host].ansible_ssh_common_args }}
                    ansible_python_interpreter: {{ hostvars[host].ansible_python_interpreter }}
{% endfor %}
{% endfor %}
